# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.env
/venv
/env

# testing
/coverage

# Python / Django
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual Environment
venv/
env/
ENV/

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
media/
local_settings.py

.idea/
.vscode/
*.swp
.DS_Store

# Project specific
service-account.json
media/videos/

Stream/node_modules/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

*/node_modules/