<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You have received a payment</title>
</head>
<body>
    <h1>Hello there</h1>
    <div>
        <p>We are pleased to inform you that you have received a payment from {{ student.user.first_name}} {{ student.user.last_name}} of <strong>{{ student.student_class.level.name}} {{ student.student_class.class_name}}</strong></p>
        <br>
        <hr>
        <br>
        <br>
        <h4>Transaction details</h4>
        
    </div>
</body>
</html>